DJANGO_SECRET_KEY=replace-with-your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
MODEL_API_URL=https://your-ngrok-url/generate
COLAB_API_URL=https://your-ngrok-url/generate
MODEL_API_TOKEN=
NGROK_AUTH_TOKEN=
NGROK_TOKEN=
HUGGINGFACE_TOKEN=
GITHUB_REPO_URL=https://github.com/kew4rd/ai_consultant
